h1 {
  margin-top: 12px;
  color: tomato;
  text-align: center;
}

ol {
  margin-top: 20px;
}
li {
  margin-top: 12px;
}

.f1{
  color: tomato;
  margin-top: 18pt;
  margin-bottom: 12pt;
}

.f1{
  color: darkgray;
  margin-top: 18pt;
  margin-bottom: 12pt;
}
