.container {
    display: flex;
    flex-direction: row; 
    height: 100vh;          
    width: 100%;
}
.header{
    background-color: lightgray;
    flex: 1.5;
}
.footer{
    background-color: lightgray;
    flex: 1;
}
.menu{
    background-color: gray;
    flex: 0.5;
}
.menu a {
    padding: 15px;
    color: lightgray;
}
.menu a:hover{
    background-color: lightgray;
    color: black;
}
.content{
  background-color: white;
  flex: 7;
}
iframe {
    border: none;
    width: 100%;
    height: 100&;
}
h1 {
  margin: 12px;
  color: red;
  text-align: center;
}
h2 {
  margin: 12px;
  color: darkgreen;
  text-align: center;
}

ol {
  margin-top: 20px;
}
li {
  margin-top: 12px;
}

.f1{
  color: tomato;
  margin-top: 18pt;
  margin-bottom: 12pt;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

.f2{
  color: black;
  margin-top: 12pt;
  margin-bottom: 6pt;
  font-size: 15px;
  font-weight: normal;
  font-family: Arial;
}
