h1 {
  margin-top: 12px;
  color: tomato;
  text-align: center;
}

ol {
  margin-top: 20px;
}
li {
  margin-top: 12px;
}

.f1{
  color: tomato;
  margin-top: 18pt;
  margin-bottom: 12pt;
  font-size: 20px;
  font-weight: bold;
}

.f2{
  color: black;
  margin-top: 12pt;
  margin-bottom: 6pt;
}
