.container {
    display: flex;
    flex-direction: column; 
    height: 100vh;          
}
.header{
    flex: 15%;
    background: url("images/logoNQ.png") ;

    
}
.footer{
    background-color: lightgray;
    flex: 10%;
}
.menu{
    background-color: gray;
    flex: 5%;
    display: flex;
    align-items: center;
}
.menu a {
    padding: 15px 20px;
    color: lightgray;
    text-decoration: none;
}
.menu a:hover{
    background-color: lightgray;
    color: black;
}
.content{
    background-color: white;
    flex: 70%;
    display: flex;
}
.content iframe{
    flex: 1;
    width: 100%;
    height: 100%;
    border: none;
}

.video-container {
    display: flex;
    justify-content: center;   /* căn giữa ngang */
    align-items: center;       /* căn giữa dọc */
    height: 100vh;
    margin: 0;
}

.video-container iframe {
    width: 70%;
    aspect-ratio: 16 / 9;
    border: none;
}

h1 {
  margin: 12px;
  color: red;
  text-align: center;
}
h2 {
  margin: 12px;
  color: darkgreen;
  text-align: center;
}

ol {
  margin-top: 20px;
}
li {
  margin-top: 12px;
}

.f1{
  color: tomato;
  margin-top: 18pt;
  margin-bottom: 12pt;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

.f2{
  color: black;
  margin-top: 12pt;
  margin-bottom: 6pt;
  font-size: 15px;
  font-weight: normal;
  font-family: Arial;
}
